version: 2.1

jobs:
  job1:
    docker:
      - image: alpine:latest
    steps:
      - run:
          name: Step 1
          command: echo "This is job 1."

  job2:
    docker:
      - image: alpine:latest
    steps:
      - run:
          name: Step 1
          command: echo "This is job 2."

workflows:
  version: 2
  fan-in-fan-out:
    jobs:
      - job1
      - job2


