version: 2.1

jobs:
  build:
    macos:
      xcode: "13.2.1"

    steps:
      - checkout

      # Install and setup Vault in demo mode
      - run:
          name: Install Vault and setup demo
          command: |
            brew tap hashicorp/tap
            brew install hashicorp/tap/vault
            vault
            vault server -dev -dev-root-token-id=root &
            sleep 2 # Give time for Vault to start

      # Add more steps as needed for your build process

workflows:
  version: 2
  build_and_test:
    jobs:
      - build

